<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Arama Motoru | {{ Title }}</title>
    <!-- Material Design Lite CSS -->
    <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
</head>

<body>
<header>
    <h1><a href="{{route 'index'}}">Arama Motoru | {{ Title }}</a></h1>
</header>
<div class="container">
    {{ content }}
</div>
<footer>
    &copy; 2025. Arama motoru simülasyonu.
</footer>
</body>

</html>