<main class="main-index">
  <div class="search-container">
    <form action="/search" method="GET">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="q" name="q" placeholder="Query'i girin" required type="text">
        <ul id="autocomplete-list" class="autocomplete-dropdown"></ul>
      </div>
      <div class="hash-methods" style="margin: 20px 0 50px; display: flex; justify-content: space-between;">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="linearProbing">
          <input type="checkbox" id="linearProbing" class="mdl-checkbox__input" name="methods[]" value="LinearProbing" checked>
          <span class="mdl-checkbox__label">Linear Probing</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="quadraticProbing">
          <input type="checkbox" id="quadraticProbing" class="mdl-checkbox__input" name="methods[]" value="QuadraticProbing" checked>
          <span class="mdl-checkbox__label">Quadratic Probing</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="doubleHashing">
          <input type="checkbox" id="doubleHashing" class="mdl-checkbox__input" name="methods[]" value="DoubleHashing" checked>
          <span class="mdl-checkbox__label">Double Hashing</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="separateChaining">
          <input type="checkbox" id="separateChaining" class="mdl-checkbox__input" name="methods[]" value="SeparateChaining" checked>
          <span class="mdl-checkbox__label">Separate Chaining</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="dictionary">
          <input type="checkbox" id="dictionary" class="mdl-checkbox__input" name="methods[]" value="Dictionary" checked>
          <span class="mdl-checkbox__label">Dictionary</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="sortedList">
          <input type="checkbox" id="sortedList" class="mdl-checkbox__input" name="methods[]" value="SortedList">
          <span class="mdl-checkbox__label">SortedList</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="sortedDictionary">
          <input type="checkbox" id="sortedDictionary" class="mdl-checkbox__input" name="methods[]" value="SortedDictionary">
          <span class="mdl-checkbox__label">SortedDictionary</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="avl">
          <input type="checkbox" id="avl" class="mdl-checkbox__input" name="methods[]" value="AVL" checked>
          <span class="mdl-checkbox__label">AVL Tree</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="btree">
          <input type="checkbox" id="btree" class="mdl-checkbox__input" name="methods[]" value="BTree">
          <span class="mdl-checkbox__label">BTree</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="redBlack">
          <input type="checkbox" id="redBlack" class="mdl-checkbox__input" name="methods[]" value="RedBlack" checked>
          <span class="mdl-checkbox__label">Red Black Tree</span>
        </label>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored search-button" type="submit">
        Ara
      </button>
    </form>

    <a href="{{route 'documents.index'}}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored search-button">Dökümanları Yönet</a>
    <div style="margin-top: 20px;">
      <h3>HashTable İçerikleri: </h3>
      <a href="/hashtable/LinearProbing" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Linear Probing</a>
      <a href="/hashtable/QuadraticProbing" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Quadratic Probing</a>
      <a href="/hashtable/DoubleHashing" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Double Hashing</a>
      <a href="/hashtable/SeparateChaining" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Separate Chaining</a>
    </div>
  </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const input = document.getElementById('q');
    const list = document.getElementById('autocomplete-list');

    function getLastWord(str) {
      const words = str.split(' ');
      return words[words.length - 1];
    }

    input.addEventListener('input', function() {
      const value = this.value;
      const lastWord = getLastWord(value);
      list.innerHTML = '';

      if (lastWord.trim() !== '') {
        const formData = new URLSearchParams();
        formData.append('query', lastWord);

        fetch('/api/v1/autocomplete', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: formData
        })
                .then(response => response.json())
                .then(data => {
                  data.forEach(item => {
                    const li = document.createElement('li');
                    li.textContent = item;
                    li.classList.add('autocomplete-item');

                    li.addEventListener('click', function() {
                      const words = value.split(' ');
                      words[words.length - 1] = item;
                      input.value = words.join(' ') + ' ';
                      list.innerHTML = '';
                      input.focus();
                    });

                    list.appendChild(li);
                  });
                })
                .catch(error => console.error('Error while fetching autocompletion endpoint:', error));
      }
    });

    document.addEventListener('click', function(e) {
      if (e.target !== input) {
        list.innerHTML = '';
      }
    });
  });
</script>
